<footer>
    <img src="assets/img/corendon-connect-w.png" alt="logo" class="footer-logo" />
    <div class="footer-content">
        <ul class="footer-list">
            <li>
                <h1 class="footer-list-header">Service</h1>
            </li>
            <li>
                <a href="support.html">Contact</a>
            </li>
            <li>
                <a href="support.html">Help</a>
            </li>
        </ul>
        <ul class="footer-list">
            <li>
                <h1 class="footer-list-header">Over Ons</h1>
            </li>
            <li>
                <a href="#">Over</a>
            </li>
            <li>
                <a href="#">Regels</a>
            </li>
            <li>
                <a href="#">Colofon</a>
            </li>
            <li>
                <a href="#">Werken bij ons</a>
            </li>
        </ul>
        <ul class="footer-list">
            <li>
                <h1 class="footer-list-header">Navigatie</h1>
            </li>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="match.html">Match</a>
            </li>
            <li>
                <a href="registreer.html">Registreer</a>
            </li>
            <li>
                <a href="zoek.html">Zoeken</a>
            </li>
        </ul>
        <ul class="footer-list">
            <li>
                <h1 class="footer-list-header">Regeling</h1>
            </li>
            <li>
                <a href="https://www.corendon.nl" target="_blank">Corendon</a>
            </li>
            <li>
                <a href="https://www.corendon.nl/privacy-verklaring" target="_blank">Privacy</a>
            </li>
            <li>
                <a href="https://www.corendon.nl/cookies" target="_blank">Cookie Beleid</a>
            </li>
        </ul>
    </div>
    <h2 class="footer-copyright">Copyright © 2022 Corendon Connect. Alle rechten voorbehouden</>
</footer>