include:
  - local: ".gitlab/deploy_dev.yml"
  - local: ".gitlab/deploy_test.yml"
  - local: ".gitlab/deploy_prod.yml"
  - local: ".gitlab/test_analyze.yml"

stages:
  - build
  - test
  - publish
  - deploy

variables:
  FRONTEND_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_REF_NAME
  BACKEND_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_REF_NAME
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  GIT_DEPTH: "0"

build-backend:
  stage: build
  image: maven:3-eclipse-temurin-17
  tags:
    - hva
  script:
    - cd backend
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - backend/target/*.jar

build-frontend:
  stage: build
  image: node:20-alpine
  tags:
    - hva
  script:
    - cd frontend
    - npm install
    - npm run build
  artifacts:
    paths:
      - frontend/dist/

publish-backend:
  stage: publish
  image: docker:28.0.1
  dependencies:
    - build-backend
  tags:
    - hva
  script:
    - cd backend
    - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $CI_REGISTRY
    - docker buildx build --platform linux/arm64 -t $BACKEND_IMAGE --push .

publish-frontend:
  stage: publish
  image: docker:28.0.1
  dependencies:
    - build-frontend
  tags:
    - hva
  before_script:
    - apt-get update && apt-get install -y qemu-user-static
    - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
    - docker buildx create --use
  script:
    - cd frontend
    - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $CI_REGISTRY
    - docker buildx build --platform linux/arm64 -t $FRONTEND_IMAGE --push .
