.content {
    min-height: fit-content !important;
}

.background-image {
    width: 100%;
    height: calc(100vh - 101px);
    position: absolute;
    border-radius: 0;
    top: 100px;
    filter: opacity(0.9);
}

.background-image-regis {
    width: 100%;
    height: calc(155vh - 101px);
    position: absolute;
    border-radius: 0;
    top: 101px;
    filter: opacity(0.9);
}

.container-login {
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    position: relative;
    margin-top: 50px;
}

.container-register {
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    position: relative;
    margin-top: 50px;
}

.big-container {
    max-width: 400px;
}

.footer {
    margin-top: 25px !important;
}

.new-Login-box {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid var(--alt);
    border-radius: 20px;
    background-color: var(--main);
    margin: 0 10px;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid var(--alt);
    border-radius: 20px;
    background-color: var(--main);
    margin: 0 10px;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-box label:not(.checkbox) {
    display: flex;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: 'Playfair Display', sans-serif;
    word-break: break-word;
    align-items: start;
    gap: 5px;
}

.checkbox {
    display: flex;
    gap: 5px;
}

.new-Login-box label {
    display: flex;
    margin-bottom: 1px;
    font-size: 14px;
    font-family: 'Playfair Display', sans-serif;
    word-break: break-word;
}

.login-box input[type="email"] {
    margin-bottom: 15px;
}

.new-Login-box input[type="email"],
.new-Login-box input[type="password"],
.new-Login-box input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid var(--alt);
    width: 100%;
    box-sizing: border-box;
}

.login-box input[type="email"],
.login-box input[type="text"],
.login-box input[type="date"],
.login-box input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--gray);
    color: var(--alt);
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.new-Login-box button {
    padding: 10px;
}

.login-box button {
    height: 40px;
    width: 100%;
}

.register {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.register-button {
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .login-box {
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: none;
    }

}

@media screen and (max-width: 319px) {
    .Title {
        font-size: 20px !important;
    }

    .container-register {
        display: block !important;
    }

    .container-login {
        display: block !important;
    }

    .login-box {
        display: block;
    }
}

.container-checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    color: var(--font-l);
    font-family: 'Playfair Display', sans-serif;
    margin-top: 10px;
}

.container-checkbox p,
.container-checkbox a {
    font-size: 14px;
}

.spacing {
    padding-bottom: 10px;
}

.Title {
    font-size: 40px;
    font-family: "DM Sans", sans-serif;
    text-align: center;
}

.Title2 {
    font-size: 30px;
    font-family: "DM Sans", sans-serif;
    text-align: center;
}

textarea {
    resize: none;
    padding: 5px;
}

#biography {
    margin-bottom: 10px;
}

.font {
    font-family: 'Playfair Display', sans-serif;
}


.text-Alignment {
    text-align: center;
    font-size: 15px;
    color: var(--alt);
    font-family: 'Playfair Display', sans-serif;
}

.big-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--gray);
}

.mini-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: 'Playfair Display', sans-serif;
}

.mini-container2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: 'Playfair Display', sans-serif;
}

.mini-container3 {
    display: none;
    flex-direction: column;
    width: 80%;
    font-family: 'Playfair Display', sans-serif;
}

.mini-container4 {
    display: none;
    flex-direction: column;
    width: 80%;
    font-family: 'Playfair Display', sans-serif;
}

.Hline {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    color: var(--alt-l);
    font-family: 'Playfair Display', sans-serif;
}

.line {
    border: 0.1px solid var(--alt-l);
    width: 100%;
    height: 0.1px;
}

#button {
    width: 100%;
    height: 39.2px;
    font-size: 16px;
    font-family: 'Playfair Display', sans-serif;
    margin-top: 10px;
}

.newcontainer {
    max-width: 400px;
    display: none;
    flex-direction: column;
}

#image {
    display: none;
}

.button {
    padding: 0.5rem 1rem;
    padding-top: 5px;
    border: 1px solid var(--gray);
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
}

.button:hover {
    background-color: var(--alt);
    color: var(--main);
}

#privacy-policy {
    margin: 5px;
    width: 30px;
}

#profileImage-preview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    align-self: center;
    border: 2px solid;
    border-color: var(--main);
    margin: 10px;
}

#preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#newbutton {
    width: 100%;
    height: 39.2px;
    font-size: 16px;
    font-family: 'Playfair Display', sans-serif;
    background-color: var(--main);
    color: var(--alt);
}

#newbutton:hover {
    background-color: var(--alt);
    color: var(--main);
    border: 1px solid var(--main);
}

.login-box input[type="file"] {
    border-radius: 0;
    cursor: pointer;
}

.error,
.error3,
.error4,
.error2 {
    color: var(--error);
    text-align: center;
    word-break: break-word;
    margin-bottom: 10px;
    max-width: 350px;
}