/* Global styling for profile */
.mainContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: auto;
    border: 1px solid var(--border);
    gap: 25px;
}

/* Styling for profile */
.profileUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto 0 auto 25px;
    width: 400px;
}

.profilePicture {
    width: 225px;
    height: 225px;
    border-radius: 50%;
}

.profileMark {
    z-index: 2;
    margin-bottom: -23px;
    color: var(--position-first);
    font-size: 20px;
}

.markedProfile {
    border: 5px solid var(--position-first);
}

.profileUserName {
    color: var(--alt-l);
}

.profileAboutMe {
    height: 100px;
    text-align: center;
}

.profileStats {
    display: flex;
    flex-direction: column;
}

.profilePosts,
.profileLikes,
.profileComments,
.profileCredits {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.profileEdit {
    width: 300px;
    height: 50px;
    background: var(--main);
    border: 1px solid var(--gray);
    color: var(--alt);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profileEdit:hover {
    background: var(--alt);
    color: var(--main);
    border: 1px solid var(--main);
}

.profileEdit:hover .fa-solid.fa-pen {
    color: var(--main);
}

.profileDate {
    font-style: italic;
}

.profileSplit {
    height: 700px;
    border: 1px solid var(--border);
    align-items: center;
}

/* Styling for profile content */
.profileContent {
    display: flex;
    flex-direction: column;
    height: 825px;
    margin: 0 auto;
    align-items: center;
    gap: 25px;
    width: 100%;
}

.profileSwitch {
    display: flex;
}

.story,
.likes,
.comments,
.achievements {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    position: relative;
    box-sizing: border-box;
    border: none;
    font-size: 14px;
}

.story::before,
.likes::before,
.comments::before,
.achievements::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--alt);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

.story:hover::before,
.likes:hover::before,
.comments:hover::before,
.achievements:hover::before {
    transform: scaleX(1);
}

.story:hover,
.likes:hover,
.comments:hover,
.achievements:hover {
    cursor: pointer;
    background-color: var(--main);
    color: var(--alt);
}

.active::before {
    transform: scaleX(1);
}

/* Styling for story content */
.userContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    border-radius: 0;
}

.story-item-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: -20px;
}

.story-item {
    z-index: 1;
}

.story-container {
    width: 100%;
    overflow-y: auto;
    margin: auto;
    border-radius: 0;
    overflow-x: hidden;
}

.story-date-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

/* Styling for remove/edit story/comment */
.story-control-toggle {
    height: 100%;
    background-color: var(--main);
    border: none;
    opacity: 0;
    width: 60%;
    margin-right: -8px;
}

.story-control-toggle:hover {
    background-color: var(--main);
    color: var(--alt);
    border: none;
}

.story-control-toggle i {
    font-size: 30px;
}

.story-control-toggle i::before {
    color: var(--alt);
}

.story-control-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 0;
    opacity: 0;
    transition: all 0.5s ease;
    margin-left: -20px;
    z-index: 0;
}

.comment-control-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 0;
    opacity: 0;
    transition: all 0.5s ease;
    margin-left: -8px;
    z-index: 0;
}

.story-control-button {
    width: 100%;
    height: 50%;
    background-color: var(--main);
    border: none;
    box-sizing: border-box;
}

.story-control-button i {
    color: var(--alt);
    font-size: 20px;
    margin-right: -10px
}

.comment-control-button {
    width: 100%;
    height: 100%;
    background-color: var(--main);
    border: none;
    box-sizing: border-box;
}

.comment-control-button i {
    color: var(--alt);
    font-size: 20px;
    margin-right: -10px
}

.story-edit-button {
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

.story-edit-button:hover {
    border: none;
    border-top: 1px solid var(--confirm);
    border-right: 1px solid var(--confirm);
    border-bottom: 1px solid var(--confirm);
    background-color: var(--confirm);
}

.story-edit-button:hover i {
    color: var(--alt);
}

.story-remove-button {
    border-top: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-bottom-right-radius: 0;
}

.story-remove-button:hover {
    border: none;
    border-top: 1px solid var(--error);
    border-right: 1px solid var(--error);
    border-bottom: 1px solid var(--error);
    background-color: var(--error);
}

.story-remove-button:hover i {
    color: var(--alt);
}

.comment-remove-button {
    border-top: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    pointer-events: none;
}

.comment-remove-button:hover {
    border: none;
    border-top: 1px solid var(--error);
    border-right: 1px solid var(--error);
    border-bottom: 1px solid var(--error);
    background-color: var(--error);
}

.comment-remove-button:hover i {
    color: var(--alt);
}

.full-size {
    width: 15%;
    height: fit-content;
}

.noPosts {
    margin: 20px 0;
    width: fit-content;
}

.isEmpty {
    width: 560px;
}

/* Styling for comment */
.commentWrapper {
    display: flex;
    flex-direction: row;
    min-height: 50px;
    width: 85%;
    justify-content: center;
}

.commentSection {
    display: flex;
    height: 100%;
    width: 100%;
    border: 1px solid var(--border);
    box-sizing: border-box;
    z-index: 1;
    background-color: var(--main);
}

.commentBox {
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.commentInfo {
    font-size: 16px;
    color: var(--alt-l);
}

.commentTitle {
    font-size: 16px;
    cursor: pointer;
    max-width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 0;
}

.commentDate {
    font-size: 12px;
    color: var(--alt-l);
    flex-grow: 1;
}

.commentHeader {
    display: flex;
    max-width: 90%;
    justify-content: flex-start;
    gap: 5px;
    height: 15px;
}

.commentInfoWrapper {
    display: flex;
    width: 100%;
    max-width: fit-content;
    height: fit-content;
    gap: 3px;
}

.commentText {
    line-break: auto;
    height: fit-content;
}

.userPicture {
    padding: 10px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.deleteBox {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    padding-right: 10px;
    cursor: pointer;
}

/* Achievements */
.achievement-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    height: 100%;
    gap: 20px;
    border-radius: 0;
}

.achievement-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    gap: 30px;
}

.achievement-placeholder img {
    width: 40%;
}

.user-achievement {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border);
    width: 220px;
    min-height: 300px;
    box-sizing: border-box;
    gap: 15px;
    padding: 10px;
    text-align: center;
}

.user-achievement-title {
    font-weight: 600;
    font-size: 20px;
    flex-grow: 1;
}

.user-achievement-description {
    flex-grow: 1;
}

.user-achievement-header,
.user-achievement-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 200px;
}

.user-achievement-content {
    flex-grow: 1;
    height: 150px;
}

.user-achievement-image {
    height: 115px;
}

.user-achievement-date {
    font-size: 15px;
    font-family: 'Playfair Display';
    font-style: italic;
    color: var(--alt-l);
}

.user-content-title {
    width: 90%;
}

.locked {
    filter: opacity(0.7);
    border: 1px solid var(--fill);
}

.locked p {
    color: var(--border);
}

.locked .user-achievement-header {
    filter: grayscale(100%)
}

@media (prefers-color-scheme: dark) {
    .user-achievement-image {
        filter: invert();
    }

    .locked .user-achievement-image {
        filter: unset;
    }
}

/* Responsive */
@media screen and (max-width: 1485px) {
    .story-date-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 18px;
    }

    .full-size {
        width: 6%;
    }
}

@media screen and (max-width: 1320px) {
    .commentHeader {
        flex-direction: column;
        height: fit-content;
    }

    .commentBox {
        gap: 10px;
    }
}

@media screen and (max-width: 1240px) {
    .commentHeader {
        flex-wrap: wrap;
        height: fit-content;
    }

    .commentTitle {
        max-width: 270px;
    }
}

@media screen and (max-width: 1080px) {
    .mainContent {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .userContent {
        display: flex;
        flex-direction: column;
        gap: 30px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .profileSplit {
        height: 0;
        border: 1px solid var(--border);
        width: 75%;
    }

    .profileUser {
        margin: 0;
        margin-top: 10%;
    }

    .isEmpty,
    .noPosts {
        width: 50vw;
    }

    .commentBox {
        width: 85%;
    }

    .commentSection {
        width: 100%;
    }

}

@media only screen and (max-width: 820px) {
    .story-item-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 600px;
    }

    .story-control-panel {
        width: 100%;
        height: 0;
        align-items: center;
        margin: auto;
        flex-direction: row;
        margin-top: -10px;
    }

    .story-control-button {
        width: 50%;
        height: 100%;
        border: none;
        border-bottom: 1px solid var(--border);
    }

    .story-remove-button {
        border-left: 1px solid var(--border);
        border-top-left-radius: 0;
    }

    .story-edit-button {
        border-right: 1px solid var(--border);
    }

}

@media only screen and (max-width: 740px) {
    .commentWrapper {
        min-height: fit-content;
    }

}

@media only screen and (max-width: 690px) {
    .story-item-wrapper {
        width: 400px;
    }

    .commentWrapper {
        width: 95%;
    }
}

@media only screen and (max-width: 640px) {
    .commentSection {
        width: 90%;
    }
}

@media only screen and (max-width: 610px) {
    .commentBox {
        width: 75%;
    }
}

@media only screen and (max-width: 555px) {
    .story-item-wrapper {
        width: 350px;
        margin-left: 0;
    }
}

@media screen and (max-width: 510px) {
    .mainContent {
        width: 95%;
    }

    .profileSwitch {
        gap: 5px;
    }

    .userContent::-webkit-scrollbar {
        display: none;
    }

    .profileEdit {
        width: 70vw;
    }

    .isEmpty,
    .noPosts {
        width: 70vw;
    }

    .story,
    .likes,
    .comments,
    .achievements {
        max-width: 100px;
    }
}

@media screen and (max-width: 450px) {
    .profileSwitch {
        flex-wrap: wrap;
        width: 70%;
        justify-content: center;
    }

    .commentBox {
        width: 70%;
    }

    .commentTitle {
        max-width: 120px;
    }
}


@media only screen and (max-width: 375px) {
    .story-item-wrapper {
        width: 250px;
    }
}

@media only screen and (max-width: 270px) {
    .story-item-wrapper {
        width: 200px;
    }
}