networks:
  tse_network_${DOCKER_IMAGE_TAG}:

services:
  frontend:
    image: ${REGISTRY_URL}/frontend:${DOCKER_IMAGE_TAG}
    container_name: frontend_${DOCKER_IMAGE_TAG}
    platform: linux/arm64
    ports:
      - "${DOCKER_IMAGE_FRONTEND_PORT}:80"
    depends_on:
      - backend
    restart: always
    env_file:
      - ./.env
      - ./.env.${DOCKER_IMAGE_TAG}

  backend:
    image: ${REGISTRY_URL}/backend:${DOCKER_IMAGE_TAG}
    container_name: backend_${DOCKER_IMAGE_TAG}
    platform: linux/arm64
    ports:
      - "${DOCKER_IMAGE_BACKEND_PORT}:8080"
    restart: always
    env_file:
      - ./.env
      - ./.env.${DOCKER_IMAGE_TAG}