/* General */
body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Arial, sans-serif;
    color: $accent;
    background-color: $background;
}

/* Typography */
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h1,
h2,
strong {
    color: $title;
}

ul {
    list-style-type: none;
}

/* Main */
main {
    display: flex;
    flex-direction: row;
    padding: 0 30px 30px 30px;
    flex-wrap: wrap;
}

section {
    display: flex;
    flex-direction: column;
}

article {
    background-color: $white;
    border: $accent 1px solid;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    max-width: 800px;
}

/* Media */
@media (max-width: 360px) {
    main {
        padding: 0 45px 45px;
    }
    
    section {
        width: 100%;
    }

    article {
        width: inherit;
        margin: 15px 0;
    }
    
    p {
        margin: 0;
    }

    h1 {
        font-size: 1.5em;
    }

    nav ul {
        flex-wrap: wrap;
    }
}