networks:
  rabbit_site_network_${DOCKER_IMAGE_TAG}:

services:
  site:
    image: ${REGISTRY_URL}/site:${DOCKER_IMAGE_TAG}
    container_name: rabbit_site_${DOCKER_IMAGE_TAG}
    platform: linux/arm64
    ports:
      - "${DOCKER_IMAGE_PORT}:3000"
    restart: always
    environment:
      - NUXT_DATABASE_HOST=${NUXT_DATABASE_HOST}
      - NUXT_DATABASE_PORT=${NUXT_DATABASE_PORT}
      - NUXT_DATABASE_NAME=${NUXT_DATABASE_NAME}
      - NUXT_DATABASE_USERNAME=${NUXT_DATABASE_USERNAME}
      - NUXT_DATABASE_PASSWORD=${NUXT_DATABASE_PASSWORD}

      - NUXT_SESSION_PASSWORD=${NUXT_SESSION_PASSWORD}
      - NUXT_OAUTH_GOOGLE_CLIENT_ID=${NUXT_OAUTH_GOOGLE_CLIENT_ID}
      - NUXT_OAUTH_GOOGLE_CLIENT_SECRET=${NUXT_OAUTH_GOOGLE_CLIENT_SECRET}

      - NUXT_MAIL_HOST=${NUXT_MAIL_HOST}
      - NUXT_MAIL_USERNAME=${NUXT_MAIL_USERNAME}
      - NUXT_MAIL_PASSWORD=${NUXT_MAIL_PASSWORD}

      - NUXT_MEILISEARCH_HOST=${NUXT_MEILISEARCH_HOST}
      - NUXT_MEILISEARCH_API_KEY=${NUXT_MEILISEARCH_API_KEY}
      - NUXT_MEILISEARCH_MASTER_KEY=${NUXT_MEILISEARCH_MASTER_KEY}

      - NUXT_UPLINK_HOST=${NUXT_UPLINK_HOST}
      - NUXT_UPLINK_PORT=${NUXT_UPLINK_PORT}
      - NUXT_UPLINK_USERNAME=${NUXT_UPLINK_USERNAME}
      - NUXT_UPLINK_PASSWORD=${NUXT_UPLINK_PASSWORD}
      - NUXT_UPLINK_EXCHANGE=${NUXT_UPLINK_EXCHANGE}
      - NUXT_UPLINK_ROUTER=${NUXT_UPLINK_ROUTER}

      - NUXT_SFTP_HOST=${NUXT_SFTP_HOST}
      - NUXT_SFTP_PORT=${NUXT_SFTP_PORT}
      - NUXT_SFTP_USERNAME=${NUXT_SFTP_USERNAME}
      - NUXT_SFTP_PASSWORD=${NUXT_SFTP_PASSWORD}

      - NUXT_PUBLIC_WS_URL=${NUXT_PUBLIC_WS_URL}