/* Pallete */
:root {
    --main: #0275d8;
    --white: #ffffff;
    --title: #000000;
    --font: #565656;
    --background: #d7d7d7;
}

/* General */
body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Arial, sans-serif;
    color: var(--font);
    background-color: var(--background);
}

/* Typography */
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h1,
h2,
h3,
strong {
    color: var(--title);
}

/* Nav */
nav {
    background-color: var(--main);
    border-radius: 5px;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
}

nav li {
    display: flex;
}

nav a {
    text-decoration: none;
    margin: 2px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 1.2em;
    border-radius: 5px;
}

nav a:link,
nav a:visited {
    color: var(--main);
    background-color: var(--white);
    border: var(--main) 1px solid;
}

nav a:hover {
    color: var(--white);
    background-color: var(--main);
    border: var(--white) 1px solid;
}

/* Main */
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 30px 30px 30px;
}

section {
    display: flex;
    flex-direction: column;
}

section.general-info {
    align-items: center;
}

article {
    background-color: var(--white);
    border: var(--font) 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 15px;
    padding: 15px;
    max-width: 800px;
}

ul {
    list-style-type: none;
}

.centered {
    text-align: center;
}

img.profile {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
    box-sizing: border-box;
}

/* Info Page */

.paragraph-link {
    color: var(--font)
}

.active-project-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style: disc;
}

.languages-title {
    margin-bottom: 5px;
}

.tools-title {
    margin-top: 70px;
    margin-bottom: 5px;
}

/* Media */
@media (max-width: 360px) {
    main {
        padding: 0 45px 45px;
    }

    section {
        width: 100%;
    }

    article {
        width: inherit;
        margin: 15px 0;
    }


    p {
        margin: 0;
    }

    h1 {
        font-size: 1.5em;
    }

    nav ul {
        flex-wrap: wrap;
    }

    .interesting-languages-title {
        padding-bottom: 10px;
    }

    .interesting-languages-desc {
        padding-top: 15px;
    }

    .tools-title {
        padding-top: 35px;
    }

    .image-info-picture {
        width: 100%;
        margin-top: 10px;
    }
}