<link href="./assets/css/components/footer.css" rel="stylesheet">

<div class="footer">

    <hr class="hr-short">
    <div class="footer-container">

        <div class="footer-item">
            <h5 data-translate="home-header-1">Bijlmerflat Florijn</h5>
            <p data-translate="footer-sub-1">Het platform voor interactie met de buurt. Plaats verhalen, deel je
                belevenissen, allemaal op één site.</p>
            <p data-translate="footer-sub-2">Gemaakt door en voor bewoners en bezoekers.</p>
        </div>

    </div>

    <hr class="hr-short">
    <div class="footer-logo-wrapper">
        <img class=footer-logo src="./assets/img/logo/florijn.png">
        <section class="footer-info">
            <div class="footer-info-sub">
                <p data-translate="footer-copyright">2023 -
                    Team 8 PADvinders | Alle Rechten Voorbehouden</p>
            </div>
            <div class="footer-dropdown">
                <button class="footer-dropdown-button"></button>
                <div class="footer-dropdown-content"></div>
            </div>
        </section>
    </div>
</div>