<link href="../assets/css/pages/verify.css" rel="stylesheet">

<div class="page-title">
    <h4 data-translate="navigation-verify">Account Verificatie</h4>
    <h6 data-translate="view-description-verify" class="page-subtext">Verifiëer uw account voor uw veiligheid</h6>
</div>
<div class="verify-container">
    <div class="redo-back"><i class="fa-solid fa-arrow-left"></i></div>
    <div class="inner-container">
        <img src="../../assets/img/svg/Redo.svg" class="page-image">
        <h4 data-translate="verify-title-3" class="title">E-mailadres opnieuw invoeren</h4>
        <p data-translate="verify-description-3" class="description">Als u bij het registreren een verkeerd emailadres
            heeft ingevoerd, kunt u het hier
            opnieuw invoeren. Wij zullen daarna een nieuwe email versturen.</p>
        <div class="input-container">
            <input class="verify-email" id="input-email" type="email" minlength="1" maxlength="200">
        </div>
        <div class="error-message-container">
            <p>Error Placeholder</p>
        </div>
        <div class="button-container">
            <button data-translate="verify-button-3-1" id="email-done" class="button-black">Gereed</button>
        </div>
    </div>
</div>