<link href="../assets/css/pages/verify.css" rel="stylesheet">

<div class="page-title">
    <h4 data-translate="navigation-verify">Account Verificatie</h4>
    <h6 data-translate="view-description-verify" class="page-subtext">Verifiëer uw account voor uw veiligheid</h6>
</div>
<div class="verify-container">
    <div class="input-back"><i class="fa-solid fa-arrow-left"></i></div>
    <div class="inner-container">
        <h4 data-translate="verify-title-1" class="title">Verifiëer uw e-mailadres.</h4>
        <p data-translate="verify-description-4" class="description">Vul hier de verificatiecode in:</p>
        <div class="input-container">
            <input class="verify-input" id="input-1" type="tel" maxlength="1" size="1">
            <input class="verify-input" id="input-2" type="tel" maxlength="1" size="1">
            <input class="verify-input" id="input-3" type="tel" maxlength="1" size="1">
            <input class="verify-input" id="input-4" type="tel" maxlength="1" size="1">
            <input class="verify-input" id="input-5" type="tel" maxlength="1" size="1">
            <input class="verify-input" id="input-6" type="tel" maxlength="1" size="1">
        </div>
        <div class="error-message-container">
            <p>Error Placeholder</p>
        </div>
        <button data-translate="verify-button-4-1" class="verify-submit">Verifiëren</button>
    </div>
</div>