<link href="../assets/css/pages/verify.css" rel="stylesheet">

<div class="page-title">
    <h4 data-translate="navigation-verify">Account Verificatie</h4>
    <h6 data-translate="view-description-verify" class="page-subtext">Verifiëer uw account voor uw veiligheid</h6>
</div>
<div class="verify-container">
    <div class="inner-container">
        <img src="../../assets/img/svg/Verified.svg" class="page-image">
        <h4 data-translate="verify-title-6" class="title">Account al geverifieerd.</h4>
        <p data-translate="verify-description-6" class="description">Het account waar u nu op bent ingelogd, is al
            geverifieerd. U wordt automatisch teruggeleid naar de home pagina.</p>
        <h5 class="countdown"></h5>
    </div>
</div>