<link href="./assets/css/pages/verify.css" rel="stylesheet">

<div class="page-title">
    <h4 data-translate="navigation-verify">Account Verificatie</h4>
    <h6 data-translate="view-description-verify" class="page-subtext">Verifiëer uw account voor uw veiligheid</h6>
</div>
<div class="verify-container">
    <div class="resend-back"><i class="fa-solid fa-arrow-left"></i></div>
    <div class="inner-container">
        <img src="./assets/img/svg/Mailbox.svg" class="page-image">
        <h4 data-translate="verify-title-2" class="title">Heeft u niks ontvangen?</h4>
        <p data-translate="verify-description-2-1" class="description">Indien de e-mail niet wordt ontvangen, raden wij
            u aan om enige tijd te wachten en uw spam-map te controlleren. Check ook of u het juiste e-mailadres heeft
            ingevuld.
            Als de e-mail nog steeds niet is ontvangen, kunt u deze opnieuw laten versturen of contact met ons opnemen
            voor verdere ondersteuning.</p>
        <p class="email">Uw email: </p>
        <div class="button-container">
            <button data-translate="verify-button-2-1" id="contact" class="button-white">Neem contact op</button>
            <button data-translate="verify-button-2-2" id="resend" class="button-black">Opnieuw versturen</button>
        </div>
        <p data-translate="verify-button-1-3" class="wrong-email">Verkeerd e-mailadres ingevuld?</p>
    </div>
</div>