table {
    border-collapse: collapse;
    width: 100%;

    td,
    th {
        text-align: left;
        padding: 4px;
    }

    th {
        background-color: $main;
        color: $title;
    }

    tr:nth-child(even) {
        background-color: $background;
    }

    .table-top-left {
        border-top-left-radius: 5px;
    }

    .table-top-right {
        border-top-right-radius: 5px;
    }

    .table-bottom-left {
        border-bottom-left-radius: 5px;
    }

    .table-bottom-right {
        border-bottom-right-radius: 5px;
    }
}